{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}账户{% endblock %}

{% block page_content %}
    <div class="page-header">
        {% if request.endpoint == 'auth.password_reset_request' %}
            <h1>重置密码之前，需要先确认邮箱</h1>
        {% else %}
            <h1>重置密码</h1>
        {% endif %}
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script id="bg" src="{{ url_for('static', filename='bg.js') }}" arg="{{ current_user.wow_faction_en() }}"></script>
{% endblock %}