<!DOCTYPE html>
<html lang="en">
<!--(header>div.logo{网站LOGO}+div.tel{热线电话：400-832-5678}+(ul.nav>(li>a)*8)+img)+(section>(div.left>div.title{新闻中心}+div.detail>ul>(li>a+time)*7)+(div>ul>(li>a)*4)+(div.left>div.title{产品介绍}+div.detail>ul>(li>a+span)*4)+(div>ul>li.title{新闻中心}+(li>a+time)*7)+(div.left>div.title{员工风采}+div.detail>ul>(li>a+span)*6)+(div>ul>li.title{通知公告}+(li>a+time)*7))+footer>(ul>(li>a)*8)+p{&#139; ke.51xuweb.cn All rights reserved.}-->
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../../static/qianduan/css/font-awesome.min.css">
    <script type="text/javascript" src="../../static/qianduan/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/qianduan/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/qianduan/css/demo12-19.css"/>
    <title>Title</title>
</head>
<body>
<header>
    <img class="logo" src="../../static/qianduan/image/logo.png" alt="">
    <!--<div class="text-demo">内容过多，无法<a href="" class="a1">&gt;&gt;</a><span class="span1">显示！内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！<a-->
    <div class="text-demo">内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！
        内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！
        内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！内容过多，无法显示！
        内容过多，无法显示！内容过多，无法显示！
    </div>
    <img class="tel" src="../../static/qianduan/image/tel.png" alt="">
    <ul>
        <li><a href="">首页</a></li>
        <li><a href="">公司简介</a></li>
        <li><a href="">新闻中心</a></li>
        <li><a href="">通知公告</a></li>
        <li><a href="">产品介绍</a></li>
        <li><a href="">关于我们</a></li>
        <li><a href="">招募英才</a></li>
        <li><a href="">联系我们</a></li>
    </ul>
    <img class="building" src="../../static/qianduan/image/banner.png" alt="">
</header>
<section>
    <div class="left left1">
        <div class="title">新闻中心</div>
        <ul class="detail">
            <li><a href="">环境好，交通方便，环境好，交通方便，环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便，环境好，交通方便，环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便，环境好，交通方便，环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便，环境好，交通方便，环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便，环境好，交通方便，环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便，环境好，交通方便，环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便，环境好，交通方便，环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
        </ul>
    </div>
    <div class="right1">
        <ul>
            <li><a href="">公司简介</a></li>
            <li><a href="">联系我们</a></li>
            <li><a href="">诚聘英才</a></li>
            <li><a href="">关于我们</a></li>
        </ul>
    </div>
    <div class="left left2">
        <div class="title">产品介绍</div>
        <ul class="detail">
            <li><a href=""><img src="../../static/qianduan/image/pic01.jpg" alt=""></a><br><span>黄金楼层，学区房<br>￥260</span></li>
            <li><a href=""><img src="../../static/qianduan/image/pic01.jpg" alt=""></a><br><span>黄金楼层，学区房<br>￥260</span></li>
            <li><a href=""><img src="../../static/qianduan/image/pic01.jpg" alt=""></a><br><span>黄金楼层，学区房<br>￥260</span></li>
            <li><a href=""><img src="../../static/qianduan/image/pic01.jpg" alt=""></a><br><span>黄金楼层，学区房<br>￥260</span></li>
        </ul>
    </div>
    <div class="right2">
        <div class="title">新闻中心</div>
        <ul class="detail">
            <li><a href="">环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
        </ul>
    </div>
    <div class="left left3">
        <div class="title">员工风采</div>
        <ul class="detail">
            <li><a href=""><img src="../../static/qianduan/image/pic01.png" alt=""></a><span>姓名：张三<br>职位：经理<br>学历：本科</span></li>
            <li><a href=""><img src="../../static/qianduan/image/pic01.png" alt=""></a><span>姓名：张三<br>职位：经理<br>学历：本科</span></li>
            <li><a href=""><img src="../../static/qianduan/image/pic01.png" alt=""></a><span>姓名：张三<br>职位：经理<br>学历：本科</span></li>
            <li><a href=""><img src="../../static/qianduan/image/pic01.png" alt=""></a><span>姓名：张三<br>职位：经理<br>学历：本科</span></li>
            <li><a href=""><img src="../../static/qianduan/image/pic01.png" alt=""></a><span>姓名：张三<br>职位：经理<br>学历：本科</span></li>
            <li><a href=""><img src="../../static/qianduan/image/pic01.png" alt=""></a><span>姓名：张三<br>职位：经理<br>学历：本科</span></li>
        </ul>
    </div>
    <div class="right3">
        <div class="title">通知公告</div>
        <ul class="detail">
            <li><a href="">环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
            <li><a href="">环境好，交通方便</a>
                <time>2014-02-28</time>
            </li>
        </ul>
    </div>
</section>
<footer>
    <ul>
        <li><a href="">首页</a></li>
        |
        <li><a href="">公司简介</a></li>
        |
        <li><a href="">新闻中心</a></li>
        |
        <li><a href="">通知公告</a></li>
        |
        <li><a href="">产品介绍</a></li>
        |
        <li><a href="">关于我们</a></li>
        |
        <li><a href="">招募英才</a></li>
        |
        <li><a href="">联系我们</a></li>
    </ul>
    <p>&#169; ke.51xuweb.cn All rights reserved.</p>
</footer>
</body>
<script>
    //    $(function () {
    //        $(".span1").hide();
    //        $(".a1").click(function () {
    //            $(this).hide();
    //            $(".span1").show();
    //            return false;
    //        });
    //        $(".a2").click(function () {
    //            $(".span1").hide();
    //            $(".a1").show();
    //            return false;
    //        });
    //    })
    $(function () {
        var max = 7;
        $(".text-demo").each(function () {
            var all_content = $(this).text();
            var sub_content = all_content.substr(0, max);
            $(this).attr({all: all_content, sub: sub_content});
            if (all_content.length > max) {
                $(this).html(sub_content).append("<a href='javascript:void(0)' class='text-collapse'>>></a>");
            }
        });
        $(".text-demo").on("click", ".text-collapse", function () {
            var self = this;
            var bool = $(self).text() == ">>";
            var attr = bool ? "all" : "sub";
            var symbol = bool ? "<<" : ">>";
            $(self).parent().each(function () {
                $(this).html($(this).attr(attr)).append($(self).text(symbol));
            });
        });
        $("a:not(.text-collapse)").click(function () {
            return false;
        })
    });
</script>
</html>
