<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/qianduan/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/qianduan/css/bootstrap.min.css">
    <script type="text/javascript" src="../../static/qianduan/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/qianduan/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/qianduan/css/doraemon.css"/>
    <title>Title</title>
</head>
<body>
<div class="doraemon">
    <div class="middle-line">
        <div class="beard left1"></div>
        <div class="beard right1"></div>
        <div class="beard left2"></div>
        <div class="beard right2"></div>
        <div class="beard left3"></div>
        <div class="beard right3"></div>
    </div>
    <div class="body-rect">
        <div class="body circle">
            <div class="pocket circle"></div>
        </div>
        <div class="hand circle left"></div>
        <div class="hand circle right"></div>
        <div class="foot circle left"></div>
        <div class="foot circle right"></div>
    </div>
    <div class="head circle">
        <div class="face circle">
            <div class="eye circle left">
                <div class="eyeball left"></div>
            </div>
            <div class="eye circle right">
                <div class="eyeball  right"></div>
            </div>
            <div class="nose circle"></div>
            <div class="mouse-arc"></div>
        </div>
    </div>
    <div class="tie circle"></div>
    <div class="button circle">
        <div class="double-line"></div>
    </div>
    <div class="line"></div>
    <div class="text">哆啦A梦  伴我同行</div>
</div>
</body>
</html>