.abs {
    position: absolute;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.two-circle {
    top: -32%;
    left: 25%;
}

.two-circle > div {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50px 0 50px 50px;
    border: 15px solid #028CBA;
}

.two-circle > .d1 {
    transform: rotate(45deg);
    margin: 0 15px;
}

.two-circle > .d2 {
    transform: rotate(-135deg);
}

.three-square {
    left: -20%;
    bottom: 7%;
}

.three-square > div {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: #A9FF22;
    border-radius: 4px;
    animation: taiji-rotate4 1s infinite linear;
    -webkit-animation: taiji-rotate4 1s infinite linear;
}

.three-square > .s2 {
    transform: rotate(30deg);
    animation: taiji-rotate5 1s infinite linear;
    -webkit-animation: taiji-rotate5 1s infinite linear;
}

.three-square > .s3 {
    transform: rotate(60deg);
    animation: taiji-rotate6 1s infinite linear;
    -webkit-animation: taiji-rotate6 1s infinite linear;
}

@keyframes taiji-rotate5 {
    from {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(390deg);
    }
}

@keyframes taiji-rotate6 {
    from {
        transform: rotate(60deg);
    }
    to {
        transform: rotate(420deg);
    }
}

.moon {
    left: 73%;
    top: -13%;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    background-color: #9203CF;
    margin-left: 90px;
}

.moon:before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: burlywood;
    left: -8px;
    top: -8px;
}

.dialog-box {
    left: -46%;
    top: 40%;
    width: 120px;
    height: 80px;
    border-radius: 8px;
    background-color: #8967BB;
}

.dialog-box:before {
    content: "";
    position: absolute;
    border-top: 10px transparent solid;
    border-bottom: 10px transparent solid;
    border-left: 20px transparent solid;
    border-right: 20px #8967BB solid;
    left: -40px;
    top: 35px;
}

.heart {
    left: -24%;
    top: -9%;
    margin-top: 50px;
    border-right: 62px transparent solid;
    border-bottom: 60px transparent solid;
    border-left: 62px transparent solid;
    border-top: 60px #FE0000 solid;
    border-radius: 60px;
}

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    border: 30px solid #FE0000;
    border-radius: 30px;
    top: -95px;
}

.heart:before {
    left: -5px;
}

.heart:after {
    right: -5px;
}

.eight-sided {
    right: -40%;
    top: 38%;
    width: 90px;
    height: 90px;
    background-color: #67E100;
    transform: rotate(135deg);
}

.eight-sided > div {
    border: 18px double transparent;
    border-bottom-color: burlywood;
    position: absolute;
}

.eight-sided > .triangle1 {
    transform: rotate(-45deg);
    top: -18px;
    left: -18px;
    border-style: solid;
}

.eight-sided > .triangle2 {
    transform: rotate(45deg);
    right: -18px;
    top: -18px;
}

.eight-sided > .triangle3 {
    transform: rotate(-135deg);
    bottom: -18px;
    left: -18px;
}

.eight-sided > .triangle4 {
    transform: rotate(135deg);
    right: -18px;
    bottom: -18px;
    border-style: solid;
}

.pentagram {
    right: 11%;
    bottom: 3%;
}

.pentagram > div {
    border-right: 65px transparent solid;
    border-bottom: 50px transparent solid;
    border-left: 65px transparent solid;
    border-top: 50px #FF0008 solid;
    position: absolute;
    transform-origin: 50% 35%;
    top: 15px;
}

.pentagram > .p1 {
    top: 24px;
    /*animation: taiji-rotate4 3s infinite linear;*/
    /*-webkit-animation: taiji-rotate4 3s infinite linear;*/
}

.pentagram > .p2 {
    transform: rotate(72deg);
    left: -13px;
    /*animation: taiji-rotate7 3s infinite linear;*/
    /*-webkit-animation: taiji-rotate7 3s infinite linear;*/
}

.pentagram > .p3 {
    left: 13px;
    transform: rotate(-72deg);
    /*animation: taiji-rotate8 3s infinite linear;*/
    /*-webkit-animation: taiji-rotate8 3s infinite linear;*/
}

@keyframes taiji-rotate7 {
    from {
        transform: rotate(72deg);
    }
    to {
        transform: rotate(432deg);
    }
}

@keyframes taiji-rotate8 {
    from {
        transform: rotate(-72deg);
    }
    to {
        transform: rotate(288deg);
    }
}
