<ul class="comments">
    {% for comment in comments %}
        <li id="{{ comment.id }}" class="comment {{ comment.author.wow_faction_en() }}">
            <div class="comment-thumbnail">
                <a href="{{ url_for('.user', username=comment.author.username) }}">
                    {% if comment.author.avatar %}
                        <img src="{{ comment.author.avatar }}" width="40" height="40" class="img-rounded profile-thumbnail">
                    {% else %}
                        <img src="{{ comment.author.wow_avatar }}" width="40" height="40" class="img-rounded profile-thumbnail">
                    {% endif %}
                </a>
            </div>
            <div class="comment-content">
                <div class="comment-date">{{ moment(comment.timestamp).fromNow() }} 丨 {% if title %}<a class="fa fa-link" href="{{ url_for('.post', id=comment.post.id) }}"></a>{% else %}#{{ comment.ranking }}{% endif %}</div>
                <div class="comment-author 角色名">
                    <a class="{{ comment.author.wow_class_en() }}" href="{{ url_for('.user', username=comment.author.username) }}">
                        {{ comment.author.username }}
                    </a>
                </div>
                <div class="post-body">
                    <b id="display_warning{{ comment.id }}" {% if not comment.disabled %}hidden{% endif %}>此议论已被屏蔽。</b>
                    <div id="comment_color{{ comment.id }}" {% if comment.disabled %}style="color: #857a78" {% endif %}>
                        {% if not comment.disabled or current_user.can(Permission.MODERATE_COMMENTS) %}
                            <span class="内容">{% if comment.body_html %}{{ comment.body_html | safe }}{% else %}{{ comment.body }}{% endif %}<br></span>
                            <span id="comment{{ comment.id }}">{{ comment.likes }}</span>
                            <a href="javascript:;" id="like_icon{{ comment.id }}"{% if comment not in current_user.comments_like.all() %} class="fa fa-thumbs-o-up"{% else %} class="fa fa-thumbs-up"{% endif %} onclick="like_toggle('{{ comment.id }}', '#comment{{ comment.id }}', '#like_icon{{ comment.id }}')"></a>
                        {% endif %}
                    </div>
                </div>
                <div class="post-footer">
                    {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                        <a id="comment_display_toggle{{ comment.id }}"{% if not comment.disabled %} href="javascript:;" class="btn btn-success btn-xs"{% else %} class="btn btn-danger btn-xs"{% endif %} onclick="display_toggle('{{ comment.id }}', '#comment_display_toggle{{ comment.id }}', '#display_warning{{ comment.id }}', '#comment_color{{ comment.id }}')">
                            {% if not comment.disabled %}屏蔽{% else %}显示{% endif %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
<script type=text/javascript>
    function like_toggle(comment_id, span_id, a_id) {
        $.getJSON($SCRIPT_ROOT + '/like-toggle', {
            id: comment_id
        }, function(data) {
            $(span_id).text(data.result);
            $(a_id).attr('class', data.text);
        });
    }
    function display_toggle(comment_id, a_id, b_id, div_id) {
        $.getJSON($SCRIPT_ROOT + '/comment-display-toggle', {
            id: comment_id
        }, function(data) {
            $(a_id).text(data.result).attr('class', data.text);
            if (data.result === '显示') {
                $(b_id).show();
                $(div_id).css('color', '#857a78');
            } else {
                $(b_id).hide();
                $(div_id).css('color', '#ffffff');
            }
        });
    }
</script>