{% extends 'base.html' %}
{% import "_macros.html" as macros %}

{% block title %}追随与追随者{% endblock %}

{% block page_content %}
    <div class="page-header container">
        <a class="sixty {{ user.wow_faction_en() }}" href="{{ url_for('.user', username=user.username) }}">
            {% if current_user == user %}我{% else %}{{ user.username }}{% endif %}
        </a>
        <span class="forty">{{ title }}</span>
    </div>
    <table class="table">
        <thead><tr><th>用户</th><th>追随时间</th></tr></thead>
        {% for follow in follows %}
            <tr class="followed-follower {{ follow.user.wow_faction_en() }}">
                <td>
                    <a class="{{ follow.user.wow_class_en() }}" href="{{ url_for('.user', username=follow.user.username) }}">
                        {% if follow.user.avatar %}
                            <img src="{{ follow.user.avatar }}" height="32" class="img-rounded">
                        {% else %}
                            <img src="{{ follow.user.wow_avatar }}" width="32" height="32" class="img-rounded">
                        {% endif %}
                        {{ follow.user.username }}
                    </a>
                </td>
                <td>
                    {{ moment(follow.timestamp).format('L') }}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if pagination.pages > 1 %}
        <div class="my-pagination">
            {{ macros.pagination_widget(pagination, endpoint, username=user.username) }}
            <form method="post" class="form" role="form">
                {{ form_jump.hidden_tag() }}
                {% set faction = current_user.wow_faction_en() %}
                <div class="form-group">{{ form_jump.page_num(class="page-num " + faction) }}{{ form_jump.submit(class="jump " + faction, disabled='disabled') }}</div>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(function () {
            var faction = '{{ user.wow_faction_en() }}';
            if (faction === 'alliance') {
                $('body').css({'background':'url("../../static/wow/race/dwarf_EUKOPSH61IGO1472070118275.jpg")', 'background-size':'cover'});
            } else if (faction === 'horde') {
                $('body').css({'background':'url("../../static/wow/race/troll_G65BU14819NX1472070245782.jpg")', 'background-size':'cover'});
            } else {
                $('body').css({'background':'url("../../static/wow/race/pandaren_N7WMYKYS8IYY1472070228604.jpg")', 'background-size':'cover'});
            }
        })
    </script>
    <script id="jump" src="{{ url_for('static', filename='jump.js') }}" onload="jump({{ pages }})" arg="{{ current_user.wow_faction_color() }}"></script>
{% endblock %}