{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}艾泽拉斯{% endblock %}

{% block page_content %}
    <div class="jumbotron">
        <h1>欢迎来到艾泽拉斯!</h1>
        <p>{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}旅行者{% endif %}，在狮王之傲旅店放松放松吧！</p>
    </div>
    {% if current_user.can(Permission.WRITE_ARTICLES) and current_user.confirmed%}
        {{ wtf.quick_form(form) }}
    {% endif %}
    {% include '_posts.html' %}
    {% if pagination.pages > 1 %}
        <div class="my-pagination">
            {{ macros.pagination_widget(pagination, '.index') }}
            <form method="post" class="form" role="form">
                {{ form_jump.hidden_tag() }}
                <div class="form-group">{{ form_jump.page_num(class="page-num " + current_user.wow_faction_en()) }}{{ form_jump.submit(class="jump " + current_user.wow_faction_en(), disabled='disabled') }}</div>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
    <script src="{{ url_for('static', filename='text_toggle.js') }}"></script>
    <script id="jump" src="{{ url_for('static', filename='jump.js') }}" onload="jump({{ pages }})" arg="{{ current_user.wow_faction_color() }}"></script>
{% endblock %}