{% extends 'base.html' %}

{% block title %}晋升之路{% endblock %}

{% block content %}
    <div class="promote">
        <div hidden class="black-screen">
            <div hidden class="left outside zeroth">{{ user.username }}，当心！前面发生了一场小型战斗，离远点儿！</div>
            <div hidden class="left outside first">等一下，前面是谁？</div>
            <div hidden class="left outside second">看，我们到了！</div>
        </div>
        <div class="promote-start">
            <h1>晋升之路：开始</h1>
            <p>欢迎，{{ user.username }} ！在艾泽拉斯，不断的晋升可以使勇士们获得更强大的能力。如果你想参加晋升，需要先见一见晋升特使拉兹登克，听说他现在锈水港。准备好了就出发吧！</p>
            <a class="next btn">出发</a>
        </div>
        <div hidden class="goblin-single ">
            <div class="right zeroth">时间就是金钱，我的朋友！我是拉兹登克，你叫什么来着？我看看...{{ user.username }}...你是来参加晋升的，对吧？看到我手中的文书了吗，所有人的申请得先过我这关，然后再由我交给审核团。你懂我的意思吧？<span hidden>（拉兹登克朝你眨了眨眼睛。）</span><br><br><a class="choose left">嗯？</a><a hidden class="choose right">等等...</a></div>
            <div hidden class="right first"><span>天下没有免费的午餐，年轻人！让我们来算一笔帐：纸张需要1个银币；路费需要50个银币，你不会知道从锈水港到嚎风峡湾的路有多难走，我脚上都起泡了；还得提防路上的强盗和土匪，所以我需要请两个精明的保镖，这得花1个金币；还有一路上的关系打点，你知道的，有时候他们会对你爱理不理，需要80个银币。还有一些额外支出由我来垫付，拉兹登克对待新人可是出了名的友善，你可以去打听打听！所以，一共需要...嗯...2个金币40个银币。你带够钱了吧？</span><br><br><a class="choose left">没有。</a><a class="choose right">付钱。</a></div>
            <div hidden class="right second">这就对了！年轻人，不要计较眼前的得失。准备好了就告诉我。<br><br><a class="choose left">反悔。</a><a class="choose right next">出发。</a></div>
            <div hidden class="right third">不！不！不！在拉兹登克这儿，只有进没有出！你可以离开，但金子得留下！<br><br><a class="choose left" href="{{ url_for('.user', username=user.username) }}">离开。</a><a class="choose right next">好吧，出发。</a></div>
        </div>
        <div hidden class="repatriate">
            <div hidden class="right zeroth">啊哈，拉兹登克又送来一个穷鬼！下次出门记得带钱！</div>
            <div hidden class="left first">准备遣返，倒计时开始！</div>
            <div hidden class="right second">5...</div>
            <div hidden class="left third">4...</div>
            <div hidden class="right fourth">3...</div>
            <div hidden class="left fifth">2...</div>
            <div hidden class="bottom sixth">1...</div>
            <div hidden class="bottom seventh">发射！</div>
        </div>
        <div hidden class="housekeeper">
            <div hidden class="left zeroth"><span>嘿，你还好吧？我是夜色镇镇长艾尔罗·埃伯洛克。你被守夜人发现时，正躺在暮色森林南边的一棵大树下，昏迷不醒。发生什么事了？我们可以为你做点什么？</span><br><br><a class="choose left" href="{{ url_for('.user', username=user.username) }}">送我离开这里。</a><a class="choose right">你知道拉兹登克吗？</a></div>
            <div hidden class="left first">锈水港的拉兹登克？我知道这个家伙。听说他利用晋升专员的身份赚了不少黑心钱。如果你要找他，可以让指挥官阿尔泰娅·埃伯洛克带你过去，她正好要去一趟艾萨拉。<br><br><a class="choose next to-repatriate">好的，谢谢。</a></div>
        </div>
        <div hidden class="discuss">
            <div hidden class="bottom first">看，是拉兹登克！这家伙又出来骗人了。</div>
            <div hidden class="bottom second">管好你自己的事，兽人！看见拉兹登克旁边的年轻人了吗？我曾经也像他那样，对任何事都满怀希望。也许，这次的旅途能给他带来好运。</div>
            <div hidden class="bottom third">我只是在提醒他...</div>
            <div hidden class="bottom fourth">嘿，战士！你的盾牌呢？我侦查到有三名敌人在向我们移动!</div>
            <div hidden class="bottom fifth">准备战斗！</div>
            <div hidden class="right outside-right sixth">他们要打起来了，快走！<br><br><a class="choose next">好。</a></div>
        </div>
        <div hidden class="envoy">
            <div hidden class="right first">拉兹登克!</div>
            <div hidden class="left outside second">你是谁？我不认识你！</div>
            <div hidden class="right third">我是谁并不重要，重要的是我为什么在这儿。竖起你的小耳朵听好了：贝恩酋长想见见你。</div>
            <div hidden class="left outside fourth">牛头人酋长贝恩·血蹄？他找我有什么事？</div>
            <div hidden class="right fifth">你到了就知道了。</div>
            <div hidden class="right outside-right sixth">这...好吧。嘿，{{ user.username }}，看样子咱们得先去一趟雷霆崖。（拉兹登克摊了摊手。）<br><br><a class="choose next">好。</a></div>
        </div>
        <div hidden class="baine">
            <div hidden class="left outside zeroth">啊哈，尊敬的贝恩大酋长，拉兹登克向您问好!您找我有什么事儿？</div>
            <div hidden class="right first">拉兹登克，听说你是晋升特使？</div>
            <div hidden class="left outside second">是的，大酋长。有什么地方我可以帮上忙？</div>
            <div hidden class="right third">有人跟我说，你利用特使身份赚了很多黑心钱呐。</div>
            <div hidden class="left outside fourth">没有！没有！拉兹登克怎么会是这种人呢？</div>
            <div hidden class="right fifth">嗯？</div>
            <div hidden class="left outside sixth">就算有，也只是一点小小的辛苦钱。酋长大人，您是不知道，我这个差事有多辛苦啊！就说这个过路费呀...</div>
            <div hidden class="right seventh">（贝恩挥了挥手。）好了好了，我没有别的意思。只是，今天好几个牛头人上访，说你多收了他们的钱。你说这事儿该怎么办？</div>
            <div hidden class="left outside eighth">哎呀，要是早知道他们归您管，我哪敢收他们一个铜板？您放心，我马上就把钱退给他们！而且，只要以后来我这儿的牛头人提到您，我都给他们最大的优惠！</div>
            <div hidden class="right ninth">也不用全退，你至少也要收回成本嘛！拉兹登克啊，权力使人腐化，你要谨记这一点。</div>
            <div hidden class="left outside tenth">是的，是的，一切听您吩咐。酋长大人，您看我们可以走了吗？旁边这位伙计的事还没办完呢。</div>
            <div hidden class="right eleventh">卫兵，送客！愿大地母亲护佑着你们！（贝恩看了你一眼。）</div>
            <div hidden class="right outside-right twelfth">{{ user.username }}，咱们动身吧。<br><br><a class="choose next">好。</a></div>
        </div>
        <div hidden class="lich-king">
            <div hidden class="left outside first">啊哈，尊敬的阿尔萨斯大人，好久不见，您还好吗？</div>
            <div hidden class="right second">很好，又有来参加晋升的勇士了！你做的很好，拉兹登克。</div>
            <div hidden class="left outside third">多谢您的赞赏，这是拉兹登克应该做的。（拉兹登克鞠了一躬。）</div>
            <div hidden class="right fourth">（阿尔萨斯看着你。）勇士，只要你通过下一个考验就可以完成晋升了。在这之前，你需要回答我一个问题。知道我要问你什么问题吗？<br><br><a class="choose left">不知道。</a><a class="choose right">知道。</a></div>
            <div hidden class="right fifth">年轻人，多磨练一下再来吧。拉兹登克！</div>
            <div hidden class="left outside sixth">是，大人！（拉兹登克朝你耸了耸肩。）</div>
            <div hidden class="right seventh">很好，还剩最后一个——终极考验，也是我见过最奇怪的考验，没几个人能顺利通过。勇士，准备好了就出发吧。<br><br><a class="choose next">准备好了。</a></div>
        </div>
        <div hidden class="promote-finish">
            <h1>晋升之路：终极考验</h1>
            <form method="post" class="form" role="form">
                {{ form.hidden_tag() }}
                <div class="form-group">{{ form.submit(class="btn") }}<a class="btn give-up" href="{{ url_for('.index') }}">放弃</a><div class="recaptcha"><span hidden>抱歉，你需要翻墙</span>{{ form.recaptcha }}</div></div>
            </form>
            <h4>注意：每次考验只有 1 次点击确定的机会。</h4>
        </div>
    </div>
    <audio class="sound1" autoplay></audio>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='promote.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('.to-repatriate').click(function () {
                $('.housekeeper .zeroth .left').attr('href', "{{ url_for('.index') }}");
            });
        });
    </script>
{% endblock %}