{% extends 'bootstrap/base.html' %}

{% block title %}酒馆{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font_awesome/css/font-awesome.min.css') }}">
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font_awesome/css/font-awesome-ie7.min.css') }}">
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='wow/logo/wow-inverse.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="home"><a class="fa fa-home fa-2x" href="{{ url_for('.index') }}"></a></div>
        <div class="tavern">
            <h1>艾泽拉斯酒馆<span hidden class="tavern-title"></span>&ensp;<span hidden><a><i class="fa fa-close"></i></a></span></h1>
            <span id="tavern-img">
                <img hidden class="img1" src="">
                <img hidden class="img2" src="">
                <img hidden class="img3" src="">
                <img hidden class="img4" src="">
                <img hidden class="img5" src="">
                <img hidden class="img6" src="">
                <img hidden class="img7" src="">
                <img hidden class="img8" src="">
                <img hidden class="img9" src="">
                <img hidden class="img10" src="">
                <img hidden class="img11" src="">
                <img hidden class="img12" src="">
                <img hidden class="img13" src="">
                <img hidden class="img14" src="">
                <img hidden class="img15" src="">
                <img hidden class="img16" src="">
            </span>
            <div class="alliance human"><a><img src="../static/wow/tavern/tavern_human/human1.jpg"></a>人类</div>
            <div class="alliance dwarf"><a><img src="../static/wow/tavern/tavern_dwarf/dwarf1.jpg"></a>矮人</div>
            <div class="alliance night-elf"><a><img src="../static/wow/tavern/tavern_night-elf/night-elf2.jpg"></a>暗夜精灵</div>
            <div class="alliance origin"><a><img src="../static/wow/tavern/tavern_alliance/alliance1.jpg"></a>联盟</div>
            <div class="neutral pirate"><a><img src="../static/wow/tavern/tavern_pirate/pirate1.jpg"></a>海盗</div>
            <div class="horde origin"><a><img src="../static/wow/tavern/tavern_horde/horde1.jpg"></a>部落</div>
            <div class="horde orc"><a><img src="../static/wow/tavern/tavern_orc/orc1.jpg"></a>兽人</div>
            <div class="horde undead"><a><img src="../static/wow/tavern/tavern_undead/undead1.jpg"></a>亡灵</div>
            <div class="horde tauren"><a><img src="../static/wow/tavern/tavern_tauren/tauren1.jpg"></a>牛头人</div>
        </div>
        <div class="wow-footer"></div>
    </div>
    <audio class="sound" autoplay></audio>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='tavern.js') }}"></script>
{% endblock %}