{% extends 'bootstrap/base.html' %}

{% block title %}时空之门{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font_awesome/css/font-awesome.min.css') }}">
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font_awesome/css/font-awesome-ie7.min.css') }}">
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='wow/logo/wow-inverse.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="home"><a class="fa fa-home fa-2x" href="{{ url_for('.index') }}"></a></div>
        <div class="wow-tab"><a href="#wow-movie" class="active" data-toggle="tab">动画</a><a href="#wow-music" data-toggle="tab">音乐</a></div>
        <div class="tab-content">
            <div class="tab-pane active" id="wow-movie">
                <video id="wow-video" src="http://wow-movie.herokuapp.com/static/WOW_Intro.m4v" controls></video>
                <div class="wow-control"><img src="../static/wow/logo/world_of_warcraft.png"><a class="fa fa-play fa-3x"></a></div>
                <div hidden class="youku yk1"><embed src="http://player.youku.com/player.php/sid/XMjgwMTc3MTMzMg==/v.swf" allowFullScreen="true" allowScriptAccess="always"></embed></div>
                <div hidden class="youku yk2"><embed src="http://player.youku.com/player.php/sid/XMjgwMTc3MjI3Ng==/v.swf" allowFullScreen="true" allowScriptAccess="always"></embed></div>
                <div hidden class="youku yk3"><embed src="http://player.youku.com/player.php/sid/XMjgwMTc3NDc1Mg==/v.swf" allowFullScreen="true" allowScriptAccess="always"></embed></div>
                <div hidden class="youku yk4"><embed src="http://player.youku.com/player.php/sid/XMjgwMTc3Mjc0OA==/v.swf" allowFullScreen="true" allowScriptAccess="always"></embed></div>
                <div hidden class="youku yk5"><embed src="http://player.youku.com/player.php/sid/XMjgwMTc3NDk2MA==/v.swf" allowFullScreen="true" allowScriptAccess="always"></embed></div>
                <div hidden class="youku yk6"><embed src="http://player.youku.com/player.php/sid/XMjgwMjMwMzY1Ng==/v.swf" allowFullScreen="true" allowScriptAccess="always"></embed></div>
                <div hidden class="youku yk7"><embed src="http://player.youku.com/player.php/sid/XMjgwMTc3NTg4MA==/v.swf" allowFullScreen="true" allowScriptAccess="always"></embed></div>
                <div hidden class="youku yk8"><embed src="http://player.youku.com/player.php/sid/XMjgwMTc2Njg2NA==/v.swf" allowFullScreen="true" allowScriptAccess="always"></embed></div>
                <div hidden class="youku yk9"><embed src="http://player.youku.com/player.php/sid/XMjgwMTc4MzI4NA==/v.swf" allowFullScreen="true" allowScriptAccess="always"></embed></div>
                <div hidden class="youku yk10"><embed src="http://player.youku.com/player.php/sid/XMjgwMTc3MDk2MA==/v.swf" allowFullScreen="true" allowScriptAccess="always"></embed></div>
                <div hidden class="youku yk11"><embed src="http://player.youku.com/player.php/sid/XMjgwMTc2Njg1Ng==/v.swf" allowFullScreen="true" allowScriptAccess="always"></embed></div>
                <div hidden class="youku yk12"><embed src="http://player.youku.com/player.php/sid/XMjgwMTc2Njg0MA==/v.swf" allowFullScreen="true" allowScriptAccess="always"></embed></div>
                <div hidden class="youku yk13"><embed src="http://player.youku.com/player.php/sid/XMjgwMTc2ODc2MA==/v.swf" allowFullScreen="true" allowScriptAccess="always"></embed></div>
                <div hidden class="youku yk14"><embed src="http://player.youku.com/player.php/sid/XMjgwMTc2OTgyOA==/v.swf" allowFullScreen="true" allowScriptAccess="always"></embed></div>
                <div hidden class="youku yk15"><embed src="http://player.youku.com/player.php/sid/XMjgwMTc3MDA0NA==/v.swf" allowFullScreen="true" allowScriptAccess="always"></embed></div>
                <div hidden class="youku yk16"><embed src="http://player.youku.com/player.php/sid/XMjgwMTc2ODk2NA==/v.swf" allowFullScreen="true" allowScriptAccess="always"></embed></div>
                <div hidden class="youku yk17"><embed src="http://player.youku.com/player.php/sid/XMjgwMTc3MDkwMA==/v.swf" allowFullScreen="true" allowScriptAccess="always"></embed></div>
                <div class="movie-tab yellow">
                    <div class="wow-60 intro active">魔兽世界</div>
                    <div class="wow-70 intro">燃烧的远征</div>
                    <div class="wow-80 intro">巫妖王之怒</div>
                    <div class="wow-85 intro">大地的裂变</div>
                    <div class="wow-90 intro">熊猫人之谜</div>
                    <div class="wow-100 intro">德拉诺之王</div>
                    <div class="wow-110 intro">军团再临</div>
                    <div class="wow-wrathgate nointro">愤怒之门</div>
                    <div class="wow-lichking nointro">巫妖王的陨落</div>
                    <div class="wow-worgen nointro">狼人</div>
                    <div class="wow-goblin nointro">地精</div>
                    <div class="wow-deathwing nointro">死亡之翼的陨落</div>
                    <div class="wow-pandaren nointro">熊猫人</div>
                    <div class="wow-wra nointro">进军潘达莉亚·联盟</div>
                    <div class="wow-wrh nointro">进军潘达莉亚·部落</div>
                    <div class="wow-jade nointro">翡翠林</div>
                    <div class="wow-ghellscream nointro">加尔鲁什·地狱咆哮</div>
                </div>
                <div class="youku-toggle">
                    <span class="to-youku yellow">网速慢？切换到<a>优酷模式</a></span>
                    <span hidden class="quit-youku yellow"><a>退出优酷模式</a></span>
                </div>
            </div>
            <div class="tab-pane" id="wow-music">
                <div class="yellow">原本想制作一个场景式的 wow 音乐列表，但发现已经有类似的网站了。比如下面这个炫酷无比的<a href="http://www.expoon.com/16074" target="_blank">魔兽世界艾泽拉斯怀旧全景展示</a>，作者是<b>金立方</b>。厉害了我的哥，请收下我的膝盖！</div>
                <iframe src=""></iframe>
            </div>
            <div class="wow-footer"></div>
        </div>
    </div>                                      
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='wow_memory.js') }}"></script>
{% endblock %}